body {
  margin: 0;
}

.table-wrapper {
  overflow-x: auto;
}

.table {
  width: 100%;
  border-collapse: collapse;
}

.th,
td {
  white-space: nowrap;
  padding: 0.5rem;
}

th {
  background: rgba(0,0,0,0.1);
}

input {
  width: 20px!important;
}